body{
background-color:black;
color:#ffff;
}


img{
    max-height: 300px;
}

.movie {
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.image-container{
    position:relative;
    transition:transform 0.2s;
}

.image-container:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay{
    opacity:1;
}

.overlay{
    position:absolute;
    background-color: rgba(0,0,0,0.8);
    width: 225px;
    height: 50px;
    transition:0.5s ease;
    opacity:0;
    bottom:0;
    font-size:15px;
    padding: 20px;
    align-items: center;
    
}

::-webkit-scrollbar {
    height: 4px;              /* height of horizontal scrollbar ← You're missing this*/
                  /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
  }